/* Write your CSS here */

.img-size {
  height: 400px;
}
.detail-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planet-heading{
  font-family:'roboto';
  color:#f8fafc;
}